body {
	background-color: lightgrey;
	font-family: 'Fredoka', sans-serif;
}

/* placing the center box that holds the buttons */
#gameStartBox, #choiceOutputBox
{
	position: absolute;
	top: 70px;
    bottom: 500px;
    left: 0;
    right: 0;
    margin: auto;
	width: 510px;
	height: 270px;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Container for buttons */
#choicesBox {
	border: 3px solid green;
	position: absolute;
	width: 300px;
	height: 100px;
	top: 60vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#start
{
	position: relative;
	height: 100px;
	width: 300px;

	font-family: 'Fredoka', sans-serif;
	font-size: 2em;

	top: -40px;
	bottom: 0;
	left: -47px;
	right: 0;
	margin: 0 auto;
}

#choicesBox li, #choicesBox ol
{
	position: relative;
	display: inline-block;
}

#choicesBox li {
	padding-left: 7px;
	top: 40px;
}

#choicesBox ol {
	width: 300px;
	margin: auto;
}

.gameButtons {
	display: none;
}

#userChoiceBox, #computerChoiceBox
{

	width: 180px;
	height: 270px;
	position: relative;
}

#userChoiceBox
{
	margin-right: 85px;
}

#computerChoiceBox
{
	margin-left: 85px;
}

#userScore, #computerScore
{
	display: none;
}
