body {
	background-color: lightgrey;
	font-family: 'Fredoka', sans-serif;
}

/* placing the center box that holds the buttons */
#gameStartBox, #choiceOutputBox
{
	position: absolute;
	top: 70px;
    bottom: 500px;
    left: 0;
    right: 0;
    margin: auto;
	width: 510px;
	height: 270px;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Container for buttons */
#choicesBox {
	border: 3px solid green;
	border-radius: 5px;
	position: absolute;
	width: 300px;
	height: 100px;
	top: 60vh;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

#start
{
	position: relative;
	height: 100px;
	width: 300px;
	transition-duration: 0.4s;

	font-family: 'Fredoka', sans-serif;
	font-size: 2em;

	top: -40px;
	bottom: 0;
	left: -47px;
	right: 0;
	margin: 0 auto;
}

#start:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#choicesBox li, #choicesBox ol
{
	position: relative;
	display: inline-block;
}

#choicesBox li {
	padding-left: 7px;
	top: 40px;
}

#choicesBox ol {
	width: 300px;
	margin: auto;
}

.gameButtons {
	display: none;
	position: relative;
	font-family: 'Fredoka', sans-serif;
	transition-duration: 0.4s;

	background-color: #4CAF50; /* Green */
	border: 1px solid grey;
	border-radius: 5px;
	color: white;
	padding: 5px 5px;
	text-align: center;
	font-size: 16px;
	top: -4px;
}

.gameButtons:hover {
	background-color: grey; /* Green */
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gameButtons:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }

#userChoiceBox, #computerChoiceBox
{
	width: 180px;
	height: 270px;
	position: relative;
}

#userChoiceBox
{
	margin-right: 85px;
}

#computerChoiceBox
{
	margin-left: 85px;
}

#userScore, #computerScore
{
	display: none;
}

.gameMessages
{
	position: relative;

	top: 50vh;
	margin: 0 auto;

	text-align: center;
	display: none;
}
