body {
	background-color: lightgrey;
	font-family: 'Fredoka', sans-serif;
}

/* placing the center box that holds the buttons */
#gameStartBox {
	position: absolute;
	top: 20vh;
	left: 0;
	right: 0;
	margin: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* Container for buttons */
#choicesBox {
	border: 3px solid green;
	position: absolute;
	width: 300px;
	height: 100px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#choicesBox li {
	padding-left: 7px;
	top: 40px;
	position: relative;
	display: inline-block;
}

#choicesBox ol {
	display: inline-block;
	position: relative;
	width: 300px;
	margin: auto;
}

/* This button will hide after clicking */
#start {
	font-family: 'Fredoka', sans-serif;
	font-size: 2em;

	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;

	width: 300px;
	height: 100px;
}

.gameButtons {
	display: none;
}
